@inject CartService CartService
@inject NavigationManager NavigationManager

<a href="/cart" class="btn btn-outline-light position-relative">
    <i class="bi bi-cart"></i>
    @if (CartService.Items.Any())
    {
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            @CartService.Items.Count
        </span>
    }
</a>
